.logo {
  width: 20px;
  height: 20px;
}

#mitem {
  color: rgba(43, 42, 42, 0.7);
  margin-left: 10px;
  font-family: "Varela Round", sans-serif;
}

#mitem:hover {
  color: #f08373;
}

.title {
  font-family: "Raleway", sans-serif;
}

.m-img {
  width: 100px;
  height: 100px;
}

.noUnderline:hover {
  text-decoration: none;
}
