.title {
  font-family: "Raleway", sans-serif;
}

.ctext {
  font-family: "Varela Round", sans-serif;
}

.cmap {
  border: 0;
  width: 100%;
  height: 350px;
}

/* from previous */

.info i {
  font-size: 20px;
  color: #1977cc;
  float: left;
  width: 44px;
  height: 44px;
  background: #d6e9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #2c4964;
}

.info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #4b7dab;
}

.item {
  margin-top: 40px;
}

.item:hover i {
  background: #1977cc;
  color: #fff;
}

/******************************************/

.php-email-form {
  width: 100%;
  background: #fff;
  margin-top: 40px;
  font-family: "Raleway", sans-serif;
}

.form-group {
  padding-bottom: 8px;
}

.validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.error-message br + br {
  margin-top: 25px;
}

.sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.inp,
.tarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.inp {
  height: 44px;
}

.tarea {
  padding: 10px 12px;
}

#sbt-button {
  background: #1977cc;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

#sbt-button:hover {
  background: #1c84e3;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
